@font-face {
  font-family: 'thaisans_neueregular';
  src: url('thaisansneue-regular-webfont.woff2') format('woff2'),
    url('thaisansneue-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'thaisans_neuesemi_bold';
  src: url('thaisansneue-semibold-webfont.woff2') format('woff2'),
    url('thaisansneue-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'thaisans_neueultra_bold';
  src: url('thaisansneue-ultrabold-webfont.woff2') format('woff2'),
    url('thaisansneue-ultrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "thaisans_neueregular", Helvetica, sans-serif;
  font-size: 18px;
}

body {
  letter-spacing: 0.05em;
  line-height: 1;
}

h1 {
  font-size: 2em !important;
  color: #676767;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.svg-inline--fa {
  width: 0.65rem;
}
.svg-inline--fa.fa-w-16 {
  width: 0.75rem;
}
.svg-inline--fa.fa-w-18 {
  width: 0.85rem;
}
.svg-inline--fa.fa-w-20 {
  width: 0.9rem;
}
.svg-inline--fa.fa-w-10 {
  width: 0.55rem;
}
p {
  color: #555555;
}
a {
  color: #00532a;
}